
main.mano {
    position: relative;
    z-index: 1;
}
main.mano nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

main.mano nav span  {
    color: red;
    cursor: pointer;
}
main.mano nav span svg {
    color: red;
    cursor: pointer;
}