

.rodape {
    background-color:var(--p);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.rodape ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    padding: 10px;
}

.rodape ul a {
   text-decoration: none;   
}
.rodape ul a div {
    text-align: center;
}

.rodape ul  div span svg {
        color: white;
    font-size: 20px;
    
}
.rodape ul a div p {
    color:white;
    margin: 2px;
    text-transform: capitalize;
}