.cabeca {
    background-color:var(--p);
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cabeca div  {
    color:white;
    font-weight: bold;

}
 
.cabeca div.icone svg {
    font-size: 45px;
    border-radius: 50%;
    border: 1px solid gray;
    padding: 10px;
    color: gray;
   
    
    
}
